[submodule "deps/optima"]
	path = deps/optima
	url = https://github.com/allanleal/optima
	branch = develop
[submodule "deps/autodiff"]
	path = deps/autodiff
	url = https://github.com/allanleal/autodiff
	branch = develop
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
