# Build directories
build/
_build/
.build/

# Files and directories with suffix -ignore
*-ignore

# Eclipse IDE files
.settings
.project
.cproject
.pydevproject
.ptp-sync-folder
.ptp-sync/

# Visual Studio Code related files
.env
.history
.vscode

# JetBrains related files
.idea

# Python related files
*.pyc
.pytest_cache

# Conda related files
/artifacts*/
/environment.yml
/compile_environment*.yml

# LyX backup and temporary files
*.lyx#
*.lyx~

# Other files/directories
.DS_Store
.directory
~lock.*

# temp files created by tests
tests/IW
