# Build directories
build/
_build/

# Eclipse IDE files
.settings
.project
.cproject
.pydevproject
.ptp-sync-folder
.ptp-sync/

# vscode related files
.vscode/
.history/

# JetBrains related files
.idea

# Python related files
*.pyc
.pytest_cache

# Conda related files
/artifacts*/
/environment.yml
/compile_environment*.yml

# Other files/directories
.DS_Store
.directory
~lock.*

# temp files created by tests
tests/IW
