/* Customizing Bootstrap */

h1, .h1 {
  font-size: 175%;
  font-weight: bold;
}

h2, .h2 {
  font-size: 150%;
  font-weight: bold;
}

h3, .h3 {
  font-size: 125%;
  /*font-weight: bold;*/
}

/* Customizing fancybox */
.fancybox-image,
.fancybox-spaceball {
  border: 10px solid white;
  border-radius: 25px;
  background-color: white;
  white-space: nowrap;
}

/* Customizing Bootstrap Carousel */
.carousel{
    background: none;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.carousel-control.left, .carousel-control.right {
  background-image: none
}

/* Customizing Doxygen/Doxystrap */
.page-header {
  margin: 0px 0px !important;
}

.page-header .title {
  font-size: 44px;
  font-weight: bold;
  /*display: none;*/
}

/* Customizing Doxygen Table of Contents */
div.toc {
/*        padding: none !important;
        background-color: none !important;
        border: none;
        border-radius: none;
        position: relative;
        float: left;
        height: auto;
        margin: none;
        width: auto;*/
}
div.toc {
    padding: inherit;
    position: relative;
    background-color: inherit;
    border: none;
    border-radius: inherit;
    float: none;
    height: auto;
    margin: 0;
    width: auto;
}

div.toc li {
    /*background: url("../bdwn.png") no-repeat scroll 0 5px transparent;*/
    background: inherit;
    font: inherit;
    margin-top: 0px;
    padding-left: 10px;
    padding-top: 0px;
}

div.toc h3 {
    font: inherit;
    font-weight: bold;
    color: inherit;
    border-bottom: 0 none;
    margin: 0;
}

div.toc ul {
    list-style: none outside none;
    border: medium none;
    padding: 0px;
}

div.toc li.level1 {
    margin-left: 0px;
}

div.toc li.level2 {
    margin-left: 5px;
}

div.toc li.level3 {
    margin-left: 10px;
}

div.toc li.level4 {
    margin-left: 15px;
}

a.elRef {
    color: #E74C3C;
    font-weight: bold;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;